section{
    padding:50px;
}
div{
    background-color:grey;
}
a{
    width:196px;
    height:100px;
}

section,div{
    float: left;
}
section,div,span,a{
    border: 1px solid black;
}
div,span{
    padding:50px 0;
}
span,a{    
    background-color:transparent;
    display:block;
}