section{
    width:900px;
    height:300px;
    padding:50px;
    border:1px solid black;
    float: left;
}
div{
    width:200px;
    height:200px;
    padding:50px 0;
    float: left;
}
div.animated:first-child {
    background-color:blue;
}
div.animated:nth-child(2) {
    background-color:orange;
}
div.animated:nth-child(3) {
    background-color:tomato;
}
div.animated:last-child {
    background-color:green;
}
span{
    width:200px;
    height:100px;
    padding:50px 0;
    background-color:transparent;
    border: 1px solid black;
    display:block;
}
a{
    width:200px;
    height:100px;
    background-color:transparent;
    border: 1px solid black;
    display:block;
}