/**
 * Popup Windows styles
 */
/* general styles */
.popupWindow {
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	position:fixed;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:200;
	display:none;
}
.popupWindow.opened {
	display:block;
}
.popupWindow > .wrapper {
	padding:2.2222em 1.6666em;
	position:relative;
}
.popupWindow > .content {
	border-radius:5px;
	background-color:#f8f8f9;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
	position:relative;
}
.closeWindow > .icon {
	background-position: -320px -256px;
}
.closeWindow:hover > .icon,
.closeWindow:active > .icon {
	background-position: -368px -256px;
}

/* "Show Map" window styles */
#popupWindow-map .windowNavPan {
	padding:0.7777em;
	position:absolute;
	top:0;
	right:0;
	z-index:250;
}
/* ================ */



/**
 * Redefinition of styles depending on the device
 */

/* For Desktop users (If window width <= 1280 px) */
@media only screen and (max-width: 1296px) {}

/* For Desktop users (If window width >= 960 px) */
@media only screen and (min-width:976px) {}

/* For Tablet & Smartphone users (If window width < 960 px) */
@media only screen and (max-width: 976px) {}

/* For Tablet users (If window width > 768 px and < 960 px) */
@media only screen and (min-width:768px) and (max-width: 960px) {}

/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {}

/* For Smartphone (Landscape orientation) users (If window width > 640 px and < 768 px) */
@media only screen and (min-width:641px) and (max-width:768px) {}

/* For Smartphone (Landscape orientation) users (If window width < 640 px) */
@media only screen and (max-width:640px) {}

/* For Smartphone (Landscape orientation) users (If window width > 568 px and < 640 px) */
@media only screen and (min-width:569px) and (max-width:640px) {}

/* For Smartphone (Portrait orientation) users (If window width < 568 px) */
@media only screen and (max-width:568px) {}
/* ================ */